body {
    background-image: url(https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fimg.photobucket.com%2Falbums%2Fv433%2Fepellissier%2FMinerva%2520catalogues%2520fournitures%2FElka1.jpg&f=1)
}

.lol {

align-items: center;



}

#h3 {

    color: cornsilk;
    text-align: center;
    
}

#compris {
    color: cornsilk;
    text-align: center;
    text-shadow: 100px;
}